*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    height: auto;
    width:auto;
    background-color: rgb(9, 9, 9);
    font-family:  'IBM Plex Mono', monospace;
}
.container{
    display:grid;
    height:auto;
    width:100vw;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 55px 2.6fr 3fr 2fr 2.5fr 3.2fr;
}
.animationName{
    color: yellow;
}
.header{
    background-color: #8f8383;
    width:100vw;
    grid-column: 1/-1;
    /* position: fixed; */
}
/* navigation bar  */
.navbar{
    width:100vw; 
    overflow: hidden;
 }

 .navbar ul{
     flex-direction:row-reverse ;
     display: flex;
     justify-content: center;
     list-style-type: none;
 }
 .navbar ul li{
     list-style-type: none;
     display: inline-block;
     padding:17px;
     transition: 1s;
 }
 .navbar ul li a{
     text-decoration: none;
     text-transform: capitalize;
     color:rgb(41, 38, 38);
     font-style: italic;
     font-family: monospace;
     font-size: 1.2em;
     font-weight: bolder;
     transition:1s;
 }
 
 .navbar ul li a:hover{
     width: 105px;
     height:15px;
     color:rgb(255, 0, 0)
 }
 .navbar ul li.active{
     background-color: #fff;
 }
 .navbar ul li:hover{
     background-color: #fff;
 }
 .menuBtn, .closeBtn{
    font-size:30px;
    margin:-5px 30px;
    display:none;
    text-align: end;
 }
  
/* content  */
.content{
    grid-column: 1/-1;
    grid-row: 2/3;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100vw;
}
/* content-1  */
.content-1{
    grid-column: 2/7;
    /* grid-row: 1/2; */
    margin-top: 3.5em;
    margin-left: 1em;
}
.h1{
    color:rgb(101, 180, 216)
}
.h1-1{
    color:white;
    text-shadow:2px 2px 5px rgb(0, 148, 57);
    font-size: 3em;  
}
.h1-2{
    font-family: 'Play', monospace;
    color:white;
    font-size: 1.5em;
}
.content-1 li{
    margin-top: 1em;
    list-style-type: none;
    display: inline-block;
}
.cont{
    padding: 0.5em;
    background-color: rgb(81, 81, 201);
    color:rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 1em;
    margin-top: 1em;
}
.know{
    padding:0.5em;
    background-color: black;
    color:white;
    border:1px solid white;
    border-radius:1em;
    text-decoration: none;
    margin-top: 1em;
}
p{
    color:white;
    font-family: 'Inconsolata', monospace;
    margin-top: 1em;
}
#about-us{
    grid-column: 2/7;
}
.content-2{
    grid-column: 8/-1;
    margin-left: 2.5em;
    margin-top: 1.3em;  
}
.img{
    margin-left: 2em;
    width:300px;
    height:430px;
}
.skill{
    grid-column: 1/-1;
    grid-row: -4/-5;
    display:grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: 80px 1fr;
    gap:1em
}

#s-skill div{
    display:none
}
.my-skill{
    grid-row: 1/2;
    grid-column: 5/8;
}
.my-skill h3{
    font-size: 2.5em;
    color: rgb(101, 180, 216);
    margin-top: 0.8em;
}
.coding-lang, .mother-lang, .other-skill{
    border:none;
    background-color: #aca6a6;
    border-radius:0.5em;
    grid-row: 2/-1;
}
.coding-lang{
    grid-column: 2/5;
}
.mother-lang{
    grid-column: 5/8
}
.other-skill{
    grid-column: 8/11;
}
.coding-lang h3, .mother-lang h3, .other-skill h3{
    color:rgb(14, 21, 27);
    margin-left: 3em;
    margin-top: 1em;
}
.coding-lang p, .mother-lang p, .other-skill p{
    margin-left: 2em;
    color:rgb(102, 86, 63);
}
.portfolio{
    grid-column: 1/-1;
    grid-row: -3/-4;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(11,1fr);
    gap:10px;
    row-gap: -10px;
}

.blockchain-dev{
    grid-row: 2/3;
    grid-column: 7/11;
    background-color: #fff;
}
.port-1{
    grid-row: 2/-1;
    background-color: #7c7777;
    border-radius: 0.5em;
    
}
.project-1{
    grid-column: 2/5;
    background-image: url(pexels-photomix-company-230544.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.port-1 h3{
    color:#f04343;
    margin-left: 1em;
}
.project-p{
    color:rgb(255, 0, 0);
    margin-left: 1em;
    margin-top: 10em;
}
.project-p a{
    text-decoration: none;
    color:rgb(99, 212, 99);
}
.project-2{
    grid-column: 5/8;
    background-image: url(pexels-pixabay-39284.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.para-1{
    color:rgb(255, 0, 0)
}
.project-3{
    grid-column:8/11;
    background-image: url(code-1076536_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio div{
    display:none;
}
.my-portfolio{
    grid-row: 1/2;
    grid-column: 5/9;
    margin-bottom: -1em;
    height:80px
}
.my-portfolio h3{
    color: rgb(101, 180, 216);
    margin-top:0.6em;
    font-size: xx-large;
    margin-left: 2em;
}
.service{
    grid-column: 1/-1;
    grid-row: -2/-3;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: 80px 1.4fr;
    gap:1em
}
.contact{
    grid-column: 1/-1;
    grid-row: -1/-2;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 80px 1fr;
    gap:1em
}
abbr{
    text-decoration: none;
}

.c-1{
    margin-right: 3.5em;
}


.footer{
    margin-top: 1em;
    text-align:center;
    border-top: 1px solid #000000;
    background-color: rgb(17, 17, 92);
    height: 40px;
}
.foot{
    margin-top: 0.5em;
    color:rgb(209, 202, 202);
    letter-spacing: 0.2em;
}

.h3{
    display:inline-block;
    text-align: center;
    margin-left: 1.5em;
    font-family: monospace;
    font-size: 3em;
    color: rgb(101, 180, 216);
}
.service-1{
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: #423e3e;
    border-radius: 0.5em;
}
.service-1 h3,.service-1 p,.com-des, .service-2 h3, .service-2 p, .service-3 h3{
    margin-left: 2em;
    margin-top: 1em;
    margin-right: 1em;
    color:rgb(216, 199, 167);
}
.service-1 h3, .service-2 h3, .service-3 h3{
    margin-left: 2em;
    color: rgb(0, 93, 136);
    /* margin-top: 2em; */
}
.com-des{
    color:cadetblue;
    font-size: 18px;
}
.service-1 a, .service-2 a{
    display:block;
    text-decoration: none;
    border:none;
    padding: 10 17px;
    border-radius: 1em;
    margin: 2em;
    color:rgb(89, 89, 190)
}
.service-2{
    grid-column: 5/8;
    background-color: #423e3e;
    border-radius:0.5em
}
.service-3{
    grid-column: 8/11;
    background-color: #423e3e;
    border-radius:0.5em;
    /* margin-right: 2em; */
}
.sv-3-ul{
    list-style-type:circle;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    color:rgb(216, 199, 167);
}
.sv-1{
    display:inline-block;
    grid-row: 1/2;
    grid-column: 4/8;
}
.sv-1 h3{
    margin-top: 0.6em;
    margin-left: 3.5em;
}
#service div{
    display:none
}

#contact div{
    display:none; 
}
.contact-1{
    grid-row: 1/2;
    grid-column: 4/7;
    
}
.contact h1{
    color: rgb(101, 180, 216);
    margin-top: 0.7em;
}
.contact-with-me{
    grid-column: 2/5;
    grid-row: 2/3;
    color:white;
    background-color: #2b2b2b;
    border-radius: 5px;
    /* margin-right: 1.5em; */
}
.send-msg{
    grid-column: 5/8;
    grid-row: 2/3;
    color:white;
    background-color: #2b2b2b;
    border-radius: 5px;
    /* margin-right: 1.5em; */
}
.chng-col{
    color: rgb(101, 180, 216);
    font-family: 'IBM Plex Mono', monospace;
}
.contact-with-me p, .con-in, h4{
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 4em;
}
.con-in, h4{
    margin-top: 2em;
}
.con-h1{
    font-size: xx-large;
}
.contact-with-me li{
    list-style-type: none;
    display:inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
}

h4{
    font-family: 'Play', sans-serif;
}
input, textarea{
    padding-right: 5em;
    padding: 0.5em;
    text-align: center;
    margin-left: 5em;
    margin-top: 2em;
}
.mail{
    margin-top: 2em;
    margin-left: 5em;
}
.con-in{
    margin-left:3em;
}
#mail,#name,#number,#comment{
    background-color: rgb(66, 166, 212);
    color:white;
    border:none;
    border-radius: 3px;
    text-align: center;
    padding-right: 2em;
}
.sub-h3{
    font-size: 16px;
    margin-top: 1em;
    margin-left: 4em;
}
.email{
    margin-left: 4em;
    margin-bottom: -2em;
}
#email{
    margin-left: 0.3em;
    border:none;
    border-radius: 2px;
}
#email:active{
    border:none;
}
.subscribe{
    border:none;
    margin-left: -0.5em;
    background-color:white;
    border-radius: 2px;
    cursor:pointer;
    padding:0.5em;
    background-color: blue;
    color: #8f8383;
}

.form{
    margin-top: -1em;
}
.but{
    margin-left: 5em;
    margin-top: 0.5em;
    padding:0.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(33, 33, 207);
    color:white;
    cursor:pointer;
}
::placeholder{
    color:white;
}
.container-1{
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 7px;
}
.container-1 .skill-box{
    width: 100%;
    margin: 0.5em 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background: #274db4;
    animation: progress 0.1s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 85%;
    animation-delay: 0.3s;
}
.skill-per.tailwind{
    width:45%;
    animation-delay: 0.4s;
}
.skill-per.javascript{
    width: 30%;
    animation-delay: 0.5s;
}
.skill-per.nodejs-1{
    width:25%;
    animation-delay: 0.6s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.7s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.container-2{
    /* position: relative; */
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 7px;
}
.container-2 .skill-box-2{
    width: 100%;
    margin: 0.5em 0;
}
.skill-box-2 .title-2{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box-2 .skill-bar-2{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar-2 .skill-per-2{
    /* position: relative; */
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background: #274db4;
    animation: progress-2 0.1s ease-in-out forwards;
    opacity: 0;
}

.skill-per-2.english{
    width:80%;
    animation-delay: 0.1s;
}
.skill-per-2.ban{
    width:90%;
    animation-delay: 0.3s;
}
.skill-per-2.hin{
    width:75%;
    animation-delay:0.4s;
}
.skill-per-2.urd{
    width:50%;
    animation-delay: 0.5s;
}

@keyframes progress-2 {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
#about-us div{
    display:none;
}
textarea{
    resize: none;
}


@media (max-width:640px) {
    body{
        width: 100vw;
        height:100vh;
        background-color: #0e0d0d;
    }
    .container{
        /* display:grid; */
        display:flex;
        flex-direction:column;
        max-width:100vw;
        grid-template-columns: repeat(6,1fr);
        /* grid-template-rows: 40px 2.6fr 3fr 2fr 2.5fr 3.2fr; */
    }
    .header{
        width: 100vw;
        grid-row: 1/2;
        grid-column: 1/-1;
        height:45px;
        text-align: center;
        font-size:12px;
        position:fixed;
        background-color: black;
    }
    .navbar{
        height:45px;
    }
    .content{
        max-width:100vw;
        grid-row: 2/4;
        display:flex;
        flex-direction: column;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
    }
    .content-1{
        max-width:100vw;
        margin:1em;
        /* overflow: hidden; */
        align-items: center;
        
    }
    .content-2{
        max-width: 100vw;
        margin:1em;
        align-items:center;
        margin-left: auto;
        margin-right: auto
    }
    img{
        align-items: center;
        justify-content: center;
        
    }
    .skill{
        display:flex;
        flex-direction:column;
        max-width:100vw;
        margin:0em 2em;
        gap:0.5em;
    }
    .my-skill{
        text-align: center;
        max-height: 40px;
    }
    .my-skill h3{
        font-size:22px
    }
    .portfolio{
        display: flex;
        flex-direction: column;
        margin:0.5em 2em;
        margin-top: 1.3em;
        gap:0.5em
    }
    .my-portfolio{
        max-height: 40px;
        margin-bottom: -6px;
        margin-top: -0.3em;
    }
    .my-portfolio h3{
        font-size:22px;
        text-align: center;
        /* margin-top: -0.3em; */
        /* margin-top: -1em; */
        text-align: center;
        margin: auto;
        background-color: #000000;
        display:block;
        border:1px solid rgb(65, 61, 61);
        border-radius:5px;
        margin-top: 0.4em;
    }
    .service{
        display: flex;
        flex-direction:column;
        gap: 0.5em;
        margin-left:auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .service-1,.service-2,.service-3, .sv-1{
        margin:0em 2em;
        margin-bottom: -0.3em;
    }
    .sv-1{
        /* display: block; */
        text-align: center;
        max-height: 40px;
        margin-top: -0.5em;
    }
    .sv-1 .h3{
        display: block;
        text-align: center;
        font-size:22px;
        margin-top:-0.3em;
    }
    .contact{
        display: flex;
        flex-direction:column;
        /* width:100vw; */
        /* justify-content: center; */
        left:0;
        right:0;
        gap:0.5em;
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 1em;
    }
    div.contact-with-me{
        display:block;
        /* margin-left:auto;
        margin-right: auto; */
    }
    .contact-1{
    text-align: center;
    max-height: 40px;
    } 
    .contact-1 .con-h1{
        font-size: 22px;
        margin-top: 4px;
        margin-left: -0.3em;
    }
    .footer{
        width:100vw;
        font-size: 0.8em;
    }
    .sub-h3{
        display:block;
        margin-bottom: 1.5em;
        font-size:18px
    }
    .email{
        margin-left: 40px;
        font-size:12px;
        display:block
    }
    input#email{
        margin-left: 40px;
        margin-bottom: 1em;
    }
    form.form input#email, button.subscribe{
        padding:2px;
    }
    div .my-skill h3, div .sv-1 h3, h1.chng-col.con-h1{
        text-align: center;
        margin: auto;
        background-color: #000000;
        display:block;
        border:1px solid rgb(65, 61, 61);
        border-radius:5px;
        margin-top: 0.8em;
    }
    h1.chng-col.con-h1{
        margin-top: 0.7em;
    }
    div .sv-1 h3{
        margin-top: 20px;
        background-color: black;
    }
    .know{
        background-color: #4b4444;
    }
    .con-in{
        font-size:20px;
    }
    .con-in, .mail , p.mail-info , .sub-h3, h4.mail-info{
        margin-left: 40px;
    }
    input#name, input#mail, input#number, #comment, .but{
        margin-left: 40px;
    }
    .contact-with-me li{
        list-style-type: none;
        display:inline-block;
        margin-top: 1em;
        margin-left: 32px;
        padding:0.3em;
        background-color: #9c9797;
        border-radius: 50%;
        transition:0.4s;
    }
    .contact-with-me li:hover{
        width:18px;
        height:22px;
        padding:0.6px
    }
    .content .h1{
        font-size:25px;
    }
    .h1-1{
        word-spacing: 5px;
        font-size:28px
    }
    .navbar ul{
        display: none;
    }
    .navbar ul li{
        display:block;
    }
    .navbar ul li a{
        font-style: normal;
        font-family: monospace;
    }
    .navbar ul li a:hover{
        border:1px solid green;
    }
    span.menuBtn{
        display:block;
        height:40px;
        align-items: end;
        color:white;
    }
    .closeBtn{
        color:white;
    }
    #menu{
        width:100%;
        background-color: #a53030;
        position: absolute;
        top:40px;
        right:0;
        text-align: center;
    }
    .project-p{
        color:chartreuse
    }
    div.skill p, div.service p, h4.com-des, div.service a{
        margin-left: 16px;
    }
    ul.sv-3-ul{
        margin-left:32px;
    }
    div.container-1, div.container-2{
        margin-left: 0px;
    }
    address.foot{
        font-size:10px;
        margin-top: 8px;
    }
    
}
@media (min-width:640px) and (max-width:1118px) {
    div.sv-1{
        grid-column: 5/9;
    }
    .my-portfolio h3{
        font-size:28px;
    }
    h3.h3{
        margin:1em 1em;
        font-size:28px;
    }
    .contact{
        gap:8px
    }
    .contact-1{
        grid-column: 4/7;
    }
    .chng-col.con-h1{
        margin-top:22px ;
        margin-left: 1em;
        font-size: 25px;
    }
    h3.sub-h3{
        margin-bottom:15px ;
    }
}